/CalcService/.idea
/EurekaService/.idea
/SumService/.idea

/CalcService/.gradle
/EurekaService/.mvn
/SumService/.gradle

/CalcService/build/
/EurekaService/build/
/SumService/build/

/CalcService/!gradle/wrapper/gradle-wrapper.jar
/EurekaService/!gradle/wrapper/gradle-wrapper.jar
/SumService/!gradle/wrapper/gradle-wrapper.jar

/CalcService/**/src/main/**/build/
/EurekaService/**/src/main/**/build/
/SumService/**/src/main/**/build/

.history
